<div id="body-content" class= "div-hide-loading transition-opacity">
    <div class="container">
        <%- include('../../partial/generic/survey', { App: App }) %>

        <div ng-controller="News as news">
            <div class="row">
                <div ng-repeat="newsMessage in news.News" class="padding-100-t col-12">
                    <div class="generic-box col-12">
                        <h1>{{newsMessage.Title}}</h1>
                        <span ng-bind-html="newsMessage.Body | multiLine"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>